h1 {
    color: green;
    font size: 20px ;
}
#first {
    color: blueviolet;
}
.First {
    color: brown;
    font-style: italic;
    font-size: 15px;
}


#second {
    --my-color : yellow ; 
     color: var(--my-color);
}